/* You can add global styles to this file, and also import other style files */

body {
    background: url('./assets/bg_merantil.png') repeat #072a37;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container .cardGlobal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.must {
    color: red;
    font-size: small;
    padding-left: .3rem;
    justify-content: end;
    margin-top: 0;
}
