.baseContainer {
    position: relative;
}

.baseClass {
    width: 1rem;
    height: 1rem;
    border-radius: .2rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: .2rem .2rem .2rem .2rem;
}

.blank {
    background-color: rgba(255, 255, 255, .5);
}

.weak {
    background-color: red;
}

.medium {
    background-color: orange;
}

.strong {
    background-color: greenyellow;
}
