<div class="d-flex">
    <div class="baseContainer d-flex align-content-center">
        <div [class]="weakClass"></div>
        <div [class]="mediumClass"></div>
        <div [class]="strongClass"></div>
    </div>
</div>
