<div class="container cardGlobal">
    <div class="row d-flex justify-content-center align-content-center">
        <router-outlet class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11"></router-outlet>
        <app-paginator class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11"></app-paginator>
    </div>
</div>
