<div class="containter-fluid">
    <div class="row d-flex justify-content-center align-content-center">
        <app-body class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12"></app-body>
    </div>
</div>
